<!DOCTYPE html>
<html lang="en">
    <html lang="en" xmlns:th=http://www.thymeleaf.org></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicken Bross</title>
    
    <link rel="stylesheet" href="Estilos/styleindex.css">
    
</head>
<body>
    <section class="section" >
        <div  id="fondo">
            <div class="frase"> 
                <h1 class="nombre">Chicken Bros</h1>
                <div class="p"><p>Somos la mejor polleria de la zona...</p> </div>
            </div>
            <div class="botones">
               <a href="/cliente/login" class="boton3">Iniciar sesion</a>
               <a href="/cliente/registro" class="boton3">Registrarse</a>
            </div>
        </div>
    </section>
</body>

<footer class=" pt-md-4 fondoImagen p-2 d-flex justify-content-center">

    <div class="row">

        <div class="col">
            <h5>TEAM BACK</h5>
            <div>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ANALIA CISNEROS</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"> ANALIA AGUIRRE </a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"> ANDRES LUNA </a></li>

                </ul>
            </div>    
        </div>

        <div class="col">
            <img class="d-flex rounded-circle justify-content-end" src="logo.jpeg" style="width: 150px;">
        </div>

        <div class="col" style="text-align:right">
            <h5>TEAM FRONT</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">GERMAN NUÑEZ</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">HELLMUTT POPP</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">MICAELA SOSA</a></li>

            </ul>
        </div>

    </div>

</footer>
</html>