<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title> Login </title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="/Estilos/styles.css"}>
	

</head>  
<body>

    <form class="formulario" th:action="@{/admin/listarPedido}" method="POST">
      <div class="col input-group mb-3 d-flex justify-content-center"></div>
     <span class="input-group justify-content-center"  style="color: black; font-size: 250%; font-family: 'Times New Roman', Times, serif; font-weight: bold; ">
       Administrador</span></div>
  
     <div class="contenedor">
        <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input type="text" placeholder="Correo Electronico" name="email" required/>
       
         </div>
         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
             <input type="password" placeholder="Contraseña" name="clave" required/> 
            </div>
            <div class="col-12">
              
          </div>
             
         <input type="submit" value="Login" class="button">
         
         
         
     </div>
        </div>
    </div>
    
    <div class="alert alert-danger"  th:if="${error != null}" role="alert">
        <p > El email o contraseña son incorrectos</p>
   </div>
    </form>


</body>
<footer class=" pt-md-4 fondoImagen p-2 d-flex justify-content-center">

  <div class="row">

     


  </div>

</footer>
</html>

