<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/pedido/selectProductos" method="POST">
            
            <label for="">Direccion:   </label>
            <input type="text"  name="direccion" required /><br> <br>
            <label for="">Horario: </label>
             <p> 
            <select name="hora_entrega"> 
           
                <option th:each="variable : ${listaHora}" th:text="${variable}" ></option>


          </select> </p>
            
 <button class="btn btn-primary boton" type="submit"> Seleccionar productos </button>

        </form> <!-- FIN DE FORMULARIO-->
    </body>
    <footer class=" pt-md-4 fondoImagen p-2 d-flex justify-content-center">

        <div class="row">
  
            <div class="col">
                <h5>TEAM BACK</h5>
                <div>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ANALIA CISNEROS</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"> ANALIA AGUIRRE </a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"> ANDRES LUNA </a></li>
  
                    </ul>
                </div>    
            </div>
  
            <div class="col">
                <img class="d-flex rounded-circle justify-content-end" src="logo.jpeg" style="width: 150px;">
            </div>
  
            <div class="col" style="text-align:right">
                <h5>TEAM FRONT</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">GERMAN NUÑEZ</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">HELLMUTT POPP</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">MICAELA SOSA</a></li>
  
                </ul>
            </div>
  
        </div>
  
    </footer>
</html>
